* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1 {
    background: url('all_project_images/background.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#obstacles, #bull, #egg, #toad {
    display: none;
}
.hide{
    display:none;
}
#container1 #Start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
    
}

